@use "tools/media" as mq;

@layer components {
  .btn {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 3.2rem;
    border-radius: 20rem;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    background-color: var(--primary-color);
    color: #ffffff;
    transition:
      background-color 0.2s,
      color 0.2s;

    &:disabled {
      cursor: default;
      opacity: 0.6;
    }
  }

  .btn--full {
    width: 100%;
  }

  .btn--outline {
    padding: 2.3rem 3.1rem;
    border: 0.1rem solid #999999;
    background-color: #ffffff;
    font-size: 2.4rem;
    color: var(--text-color);
  }

  @include mq.down(sm) {
    .btn--outline {
      padding: 1.9rem;
      font-size: 1.6rem;
    }
  }
}
