@layer tokens {
  @font-face {
    font-family: "Pragmatica";
    src: url("/fonts/Pragmatica-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "TT Fors Trial Variable";
    src: url("/fonts/TT-Fors-Trial-Variable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

}
