@use "tools/media" as mq;

@layer tokens {
  :root {
    --container-padding: 10rem;
    --container-max-width: 172rem;
    --header-height: 8rem;

    @include mq.down(sm) {
      --container-padding: 2rem;
    }
  }
}
