@use "tools/media" as mq;

@layer base {
  html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    font-size: clamp(2px, 0.525vw, 125px);
    overscroll-behavior-y: none;
    @include mq.down(sm) {
      font-size: 10px;
    }
  }

  body {
    font-size: 1.6rem;
    line-height: 1.2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overscroll-behavior-y: none;
    font-family: var(--tt-fors);
    color: var(--text-color);
    background-color: var(--bg-color);
  }

  :where(a, button) {
    transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s;
  }

  ::selection {
    color: white;
    background-color: var(--primary-color);
    -webkit-text-fill-color: white;
  }
}
