<section
  class="individual-conditions{{#if individualConditions.modifier}} individual-conditions--{{individualConditions.modifier}}{{/if}}"
  id="individual-conditions"
  aria-labelledby="individual-conditions-title"
>
  <div class="container">
    <div class="individual-conditions__inner">
      <picture class="individual-conditions__picture">
        <source
          srcset="{{individualConditions.imageMobile}}"
          media="(max-width: 576px)"
          width="{{individualConditions.imageMobileWidth}}"
          height="{{individualConditions.imageMobileHeight}}"
        >
        <img
          class="individual-conditions__bg"
          src="{{individualConditions.image}}"
          width="{{individualConditions.imageWidth}}"
          height="{{individualConditions.imageHeight}}"
          alt=""
          aria-hidden="true"
          loading="{{individualConditions.imageLoading}}"
        >
      </picture>

      <form
        class="individual-conditions__form js-form"
        action="#"
        method="post"
        data-success-modal="#{{successModal.id}}"
        data-error-modal="#{{errorModal.id}}"
      >
        <div class="individual-conditions__body">
          <p class="individual-conditions__form-title">{{individualConditions.formTitle}}</p>

          <div class="individual-conditions__fields">
            {{#each individualConditions.fields}}
              {{> components/text-field }}
            {{/each}}

            <p class="individual-conditions__required-note">* поле обязательно для заполнения</p>
          </div>
        </div>

        <div class="individual-conditions__actions">
          {{> components/button
            class="individual-conditions__submit btn--full"
            type="submit"
            label=individualConditions.submitLabel
          }}

          <div class="individual-conditions__agreements">
            {{#each individualConditions.agreements}}
              {{> components/checkbox }}
            {{/each}}
          </div>
        </div>
      </form>

      <div class="individual-conditions__content">
        <h2 class="individual-conditions__title" id="individual-conditions-title">
          {{individualConditions.title}}
        </h2>

        {{#if individualConditions.subtitle}}
          <p class="individual-conditions__subtitle">
            {{#if individualConditions.subtitleLines}}
              {{#each individualConditions.subtitleLines}}
                <span>{{this}}</span>
              {{/each}}
            {{else}}
              {{individualConditions.subtitle}}
            {{/if}}
          </p>
        {{/if}}

        {{#if individualConditions.phone}}
          <div class="individual-conditions__phone">
            <span class="individual-conditions__phone-label">{{individualConditions.phoneLabel}}</span>
            <a class="individual-conditions__phone-link" href="{{individualConditions.phoneHref}}">
              {{individualConditions.phone}}
            </a>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</section>
