<section class="promos" aria-labelledby="promos-title">
  <div class="container">
    <h2 class="promos__title" id="promos-title">
      <span class="promos__desktop-text">{{promos.title}}</span>
      <span class="promos__mobile-text">{{promos.titleMobile}}</span>
    </h2>

    <div class="promos__slider swiper js-promos-slider">
      <ul class="promos__list swiper-wrapper">
        {{#each promos.items}}
          <li class="promos__slide swiper-slide">
            <article class="promos__card {{themeClass}}">
              <picture class="promos__picture" aria-hidden="true">
                <source media="(max-width: 576px)" srcset="{{imageMobile}}">
                <img
                  class="promos__image"
                  src="{{image}}"
                  width="560"
                  height="437"
                  alt=""
                  loading="lazy"
                >
              </picture>

              <div class="promos__content">
                <h3 class="promos__card-title">
                  {{title}}
                </h3>

                <p class="promos__description">
                  {{#each descriptionLines}}{{this}}{{#unless @last}}<br>{{/unless}}{{/each}}
                </p>
              </div>

              {{> components/button
                class="promos__button btn--promo"
                href=buttonHref
                label=buttonLabel
              }}
            </article>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
